@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');


.sim-pro-heading{
    
    font-size: 3rem;
    color: #000;
    margin-bottom: 4rem;
    margin-left: 50px;
}

.sim-pro-row{
    display: flex;
}
.sim-pro{
    
    width: 100%;
    height: 50%;
    margin : 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sim-pro img{
    width: 180px;
    height: 180px;
}
.sim-pro p{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}